.Item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2px;
}

.ItemImage {
  width: 140px;
  border: 2px solid;
  border-color: var(--colorGrassGreen);
}

.ItemName {
  padding: 5px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 48em) {
  .ItemImage:hover {
    border-color: white;
  }
}