<h3>Creatures</h3>
<ng-container *ngIf="creatures.length === 0">
  Fetching creatures...
</ng-container>
<ng-container *ngIf="creatures.length > 0">
  <div [formGroup]="creaturesForm" class="CreaturesForm">
    <div class="FoodCheckbox">
      <input type="checkbox" formControlName="isFoodChecked" id="food" name="food" (change)="toggleFood()" />
      <label for="food">Food</label>
    </div>
    <div class="NonFoodCheckbox">
      <input type="checkbox" formControlName="isNonFoodChecked" id="nonFood" name="nonFood" (change)="toggleNonFood()" />
      <label for="nonFood">Non-Food</label>
    </div>
    <div class="Filter">
      <input type="text" formControlName="filterText" id="filter" name="filter" (input)="filterChanged()" />
      <label for="filter">Filter</label>
    </div>
  </div>
  <div class="Creatures">
    <app-item 
      *ngFor="let creature of page" 
      [item]="creature" 
      (clicked)="handleClick($event)"
      data-toggle="modal" data-target="#detailsModal">
    </app-item>
  </div>
  <div class="PageControl">
    <button class="material-icons-outlined PageArrow" (click)="goBack()">
      chevron_left
    </button>
    <h4 class="PageNumber">{{pageIndex + 1}}</h4>
    <button class="material-icons-outlined PageArrow" (click)="goForward()">
      chevron_right
    </button>
  </div>
</ng-container>

<app-details-modal [currentItem]="currentCreature"></app-details-modal>