.navbar {
  background-color: var(--colorDarkBrown);
  overflow: hidden;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--colorBrown);
  padding: 0px;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.navbar a.active {
  background-color: var(--colorGold);
  color: black;
}

button {
  color: white;
}

.navbar-toggler {
  color: white;
}
