<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons-outlined">
      menu
      </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creatures" routerLinkActive="active">Creatures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/equipment" routerLinkActive="active">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/materials" routerLinkActive="active">Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monsters" routerLinkActive="active">Monsters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/treasure" routerLinkActive="active">Treasures</a>
      </li>
    </ul>
  </div>
</nav>
