<div [ngStyle]="{'background-image': 'url(./assets/images/zelda-faded-1920.jpg)'}" class="BackgroundImage">
  <div class="Welcome">
    <h1 class="WelcomeHeading">Welcome to Eric's Breath of the Wild Compendium.</h1>
    <h5>This website uses the Hyrule Compendium API for its data. To start choose a category from the top menu to see a list of creatures, items, etc. From there you can see more information by clicking on individual items in the list.</h5>
    <div>*This website is not associated with Nintendo.</div>
  </div>
</div>