.BackgroundImage {
  height: calc(100vh); 
  align-items: tile;
  background-position: 1515px 0px;
}

.Welcome {
  padding: 20px;
}

.WelcomeHeading {
  color: var(--colorSkyBlue);
  text-shadow: 1px 1px var(--colorDarkBrown);
  font-family: 'Kaisei HarunoUmi', serif;
}

@media screen and (min-width: 48em) {
  .BackgroundImage {
    background-position: 0px 0px;
  }
}