<h3>Equipment</h3>
<ng-container *ngIf="equipment.length === 0">
  Fetching equipment...
</ng-container>
<ng-container *ngIf="equipment.length > 0">
  <div [formGroup]="equipmentForm" class="EquipmentForm">
    <div class="Filter">
      <input type="text" formControlName="filterText" id="filter" name="filter" (input)="filterChanged()" />
      <label for="filter">Filter</label>
    </div>
  </div>
  <div class="Equipment">
    <app-item 
      *ngFor="let equipmentItem of page"
      [item]="equipmentItem" 
      (clicked)="handleClick($event)"
      data-toggle="modal" data-target="#detailsModal">
    </app-item>
  </div>
  <div class="PageControl">
    <button class="material-icons-outlined PageArrow" (click)="goBack()">
      chevron_left
    </button>
    <h4 class="PageNumber">{{pageIndex + 1}}</h4>
    <button class="material-icons-outlined PageArrow" (click)="goForward()">
      chevron_right
    </button>
  </div>
</ng-container>

<app-details-modal [currentItem]="currentEquipmentItem"></app-details-modal>