<h3>Materials</h3>
<ng-container *ngIf="materials.length === 0">
  Fetching materials...
</ng-container>
<ng-container *ngIf="materials.length > 0">
  <div [formGroup]="materialsForm" class="MaterialsForm">
    <div class="Filter">
      <input type="text" formControlName="filterText" id="filter" name="filter" (input)="filterChanged()" />
      <label for="filter">Filter</label>
    </div>
  </div>
  <div class="Materials">
    <app-item 
      *ngFor="let material of page"
      [item]="material" 
      (clicked)="handleClick($event)"
      data-toggle="modal" data-target="#detailsModal">
    </app-item>
  </div>
  <div class="PageControl">
    <button class="material-icons-outlined PageArrow" (click)="goBack()">
      chevron_left
    </button>
    <h4 class="PageNumber">{{pageIndex + 1}}</h4>
    <button class="material-icons-outlined PageArrow" (click)="goForward()">
      chevron_right
    </button>
  </div>
</ng-container>

<app-details-modal [currentItem]="currentMaterial"></app-details-modal>