<ng-container *ngIf="item !== undefined">
  <img src="{{item.image}}" alt="{{item.name}}" class="ItemImage" />
  <p>{{item.description}}</p>
  <ng-container *ngIf="item.commonLocations !== null && item.commonLocations !== undefined && item.commonLocations.length > 0">
    <div><b>Locations:</b></div>
    <ul>
      <li *ngFor="let location of item.commonLocations">{{location}}</li>
    </ul>
  </ng-container>
  <ng-container *ngIf="item.attack !== null && item.attack !== undefined">
    <div><b>Attack:</b></div>
    <div>{{item.attack}}</div>
  </ng-container>
  <ng-container *ngIf="item.defense !== null && item.defense !== undefined">
    <div><b>Defense:</b></div>
    <div>{{item.defense}}</div>
  </ng-container>
  <ng-container *ngIf="item.cookingEffect !== null && item.cookingEffect !== undefined && item.cookingEffect !== ''">
    <div><b>Cooking effect:</b></div>
    <p>{{item.cookingEffect}}</p>
  </ng-container>
  <ng-container *ngIf="item.heartsRecovered !== null && item.heartsRecovered !== undefined">
    <div><b>Hearts recovered:</b></div>
    <p>{{item.heartsRecovered}}</p>
  </ng-container>
  <ng-container *ngIf="item.drops !== null && item.drops !== undefined && item.drops.length > 0">
    <div><b>Drops:</b></div>
    <ul>
      <li *ngFor="let drop of item.drops">{{drop}}</li>
    </ul>
  </ng-container>
</ng-container>

