<h3>Treasure</h3>
<ng-container *ngIf="treasure.length === 0">
  Fetching treasure...
</ng-container>
<ng-container *ngIf="treasure.length > 0">
  <div [formGroup]="treasureForm" class="TreasureForm">
    <div class="Filter">
      <input type="text" formControlName="filterText" id="filter" name="filter" (input)="filterChanged()" />
      <label for="filter">Filter</label>
    </div>
  </div>
  <div class="Treasure">
    <app-item 
      *ngFor="let treasureItem of page"
      [item]="treasureItem" 
      (clicked)="handleClick($event)"
      data-toggle="modal" data-target="#detailsModal">
    </app-item>
  </div>
  <div class="PageControl">
    <button class="material-icons-outlined PageArrow" (click)="goBack()">
      chevron_left
    </button>
    <h4 class="PageNumber">{{pageIndex + 1}}</h4>
    <button class="material-icons-outlined PageArrow" (click)="goForward()">
      chevron_right
    </button>
  </div>
</ng-container>

<app-details-modal [currentItem]="currentTreasureItem"></app-details-modal>