h3 {
  text-align: center;
}

label {
  margin-right: 10px;
}

.TreasureForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.Filter {
  grid-column: 1/3;
  align-content: center;
}

.Treasure {
  padding: 20px;
}

.PageControl {
  display: flex;
  justify-content: center;
}

.PageArrow {
  background-color: var(--colorLightGrassGreen);
  border: none;
}

.PageNumber {
  padding: 10px;
  vertical-align: middle;
}

@media screen and (min-width: 48em) {
  .PageArrow:hover {
    color: var(--colorSkyBlue);
  }

  .Treasure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .TreasureForm {
    display: flex;
    justify-content: center;
  }
}