<h3>Monsters</h3>
<ng-container *ngIf="monsters.length === 0">
  Fetching monsters...
</ng-container>
<ng-container *ngIf="monsters.length > 0">
  <div [formGroup]="monstersForm" class="MonstersForm">
    <div class="Filter">
      <input type="text" formControlName="filterText" id="filter" name="filter" (input)="filterChanged()" />
      <label for="filter">Filter</label>
    </div>
  </div>
  <div class="Monsters">
    <app-item 
      *ngFor="let monster of page"
      [item]="monster" 
      (clicked)="handleClick($event)"
      data-toggle="modal" data-target="#detailsModal">
    </app-item>
  </div>
  <div class="PageControl">
    <button class="material-icons-outlined PageArrow" (click)="goBack()">
      chevron_left
    </button>
    <h4 class="PageNumber">{{pageIndex + 1}}</h4>
    <button class="material-icons-outlined PageArrow" (click)="goForward()">
      chevron_right
    </button>
  </div>
</ng-container>

<app-details-modal [currentItem]="currentMonster"></app-details-modal>