/* You can add global styles to this file, and also import other style files */
:root {
  --colorDarkBrown: rgb(22, 6, 7);
  --colorBrown: rgb(87, 70, 68);
  --colorGrassGreen: rgb(105, 137, 71);
  --colorLightGrassGreen: rgb(156, 186, 122);
  --colorGold: rgb(185, 159, 101);
  --colorSkyBlue: rgb(39, 88, 128);
  --colorLightSkyBlue: rgb(66, 101, 135);
}

body {
  margin: 0px;
  background-color: var(--colorLightGrassGreen);
  font-family: 'Noto Sans JP', sans-serif;
}
